<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="bootstrap" version="3.4.1" targetFramework="net48" />
  <package id="bootstrap.less" version="3.4.1" targetFramework="net48" />
  <package id="Bootstrap.v3.Datetimepicker" version="4.17.49" targetFramework="net48" />
  <package id="Bootstrap.v3.Datetimepicker.CSS" version="4.17.49" targetFramework="net48" />
  <package id="BouncyCastle" version="1.8.9" targetFramework="net48" />
  <package id="Chart.js" version="3.7.1" targetFramework="net48" />
  <package id="ClosedXML" version="0.90.0" targetFramework="net48" />
  <package id="DocumentFormat.OpenXml" version="2.7.2" targetFramework="net48" />
  <package id="DocX" version="2.4.0" targetFramework="net48" />
  <package id="FastMember.Signed" version="1.1.0" targetFramework="net48" />
  <package id="iTextSharp" version="5.5.13.3" targetFramework="net48" />
  <package id="jQuery" version="3.7.0" targetFramework="net48" />
  <package id="Microsoft.ApplicationInsights" version="2.22.0-beta2" targetFramework="net48" />
  <package id="Microsoft.ApplicationInsights.Agent.Intercept" version="2.4.0" targetFramework="net48" />
  <package id="Microsoft.ApplicationInsights.DependencyCollector" version="2.22.0-beta2" targetFramework="net48" />
  <package id="Microsoft.ApplicationInsights.PerfCounterCollector" version="2.22.0-beta2" targetFramework="net48" />
  <package id="Microsoft.ApplicationInsights.Web" version="2.22.0-beta2" targetFramework="net48" />
  <package id="Microsoft.ApplicationInsights.WindowsServer" version="2.22.0-beta2" targetFramework="net48" />
  <package id="Microsoft.ApplicationInsights.WindowsServer.TelemetryChannel" version="2.22.0-beta2" targetFramework="net48" />
  <package id="Microsoft.AspNet.TelemetryCorrelation" version="1.0.8" targetFramework="net48" />
  <package id="Microsoft.Bcl" version="1.1.10" targetFramework="net40" requireReinstallation="true" />
  <package id="Microsoft.Bcl.Async" version="1.0.168" targetFramework="net40" />
  <package id="Microsoft.Bcl.Build" version="1.0.21" targetFramework="net48" />
  <package id="Microsoft.Diagnostics.Tracing.EventSource.Redist" version="7.0.0-preview.7.22375.6" targetFramework="net48" />
  <package id="Moment.js" version="2.29.4" targetFramework="net48" />
  <package id="QRCoder" version="1.4.3" targetFramework="net48" />
  <package id="System.Buffers" version="4.5.1" targetFramework="net48" />
  <package id="System.Diagnostics.DiagnosticSource" version="8.0.0-preview.2.23128.3" targetFramework="net48" />
  <package id="System.IO.FileSystem.Primitives" version="4.0.1" targetFramework="net48" />
  <package id="System.IO.Packaging" version="4.0.0" targetFramework="net48" />
  <package id="System.Memory" version="4.5.5" targetFramework="net48" />
  <package id="System.Numerics.Vectors" version="4.5.0" targetFramework="net48" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="7.0.0-preview.2.22152.2" targetFramework="net48" />
</packages>